*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border{
  border: 2px solid black;
  align-content: center;
}

body{
  width: 100vw;
  height: 100vh;
}

.neptune{
  width: 60vw;
  height: 120vh;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 2vh; */
}

.uranus{
  width: 55vw;
  height: 110vh;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 2vh; */
}

.saturn{
  width: 50vw;
  height: 100vh;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 2vh; */
}

.jupiter{
  width: 45vw;
  height: 90vh;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 2vh; */
}

.mars{
  width: 40vw;
  height: 80vh;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 2vh; */
}

.earth{
  width: 35vw;
  height: 70vh;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 2vh; */
}

.venus{
  width: 30vw;
  height: 60vh;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 2vh; */
}

.mercury{
  width: 22vw;
  height: 44vh;
  border-radius: 50%;
  margin: auto;
  transform: rotate(360deg);
  transition-duration: 100s;
  /* margin-top: 2vh; */
}

.sun{
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  border: none;
  background-image: radial-gradient(rgb(236, 197, 81), rgba(255,255,0,1));
  box-shadow: 0 0 15px 5px rgba(255,255,0,1);
  margin: auto;
  /* margin-top: 2vh; */
}

.mercy{
  width: 5vw;
  height: 10vh;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  /* top: 50%; */
  left: -5%;
}